@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using EntityLayer.Concreate
@model List<Blog>

<!--/main-->
<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Bloglar</h3>
		<div class="inner-sec">
			<!--left-->
			<div class="left-blog-info-w3layouts-agileits text-left">
				<div class="row">
					@foreach (var item in Model)
					{
						<div class="col-lg-4 card mt-2">
							<a href="/Blog/BlogDetails/@item.BlogID">
								<img src="@item.BlogImage" class="card-img-top img-fluid" alt="">
							</a>

							<div class="card-body">
								<ul class="blog-icons my-4">
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i>@((DateTime.Parse(item.BlogCreateDate)).ToString("dd-MMM-yyyy"))
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-comment"></i>0
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-eye">@item.Category.CategoryName</i>
										</a>
									</li>
								</ul>

								<h5 class="card-title">
									<a href="single.html">@item.BlogTitle</a>
								</h5>
								@if (item.BlogContent.Length >= 130)
								{
									<p class="card-text mb-3">

										@item.BlogContent.Substring(0,item.BlogContent.Substring(0,130).LastIndexOf(" "))...

									</p>
								}
								else
								{
									<p class="card-text mb-3">
										@item.BlogContent...								
									</p>							
								}
								<a href="/Blog/BlogDetails/@item.BlogID" class="btn btn-primary read-m">Devamını oku</a>
							</div>
						</div>
					}
				</div>
			
			</div>
		</div>
	</div>
</section>