@using Asp.net_Core_Web_Application.Models
@model AddProfileImage
@{
    ViewData["Title"] = "WriterAdd";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @Html.HiddenFor(x => x.WriterID)
                <h4 class="card-title">Yazar Ekleme Sayfası</h4>
                <div class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control", @placeholder = "isminiz" })
                        @*   @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" }) *@
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control", @placeholder = "E-mail adresiniz" })
                        @*   @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" }) *@
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        @Html.PasswordFor(x => x.WriterPassword, new { @class = "form-control", @placeholder = "Şifreiniz" })
                        @*                         @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" }) *@
                    </div>

                    <div class="form-group">
                        <label>Yazar Görsel</label>
                        <input type="file" name="WriterImage"  />
                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea1">Yazar Hakkında</label>
                        @Html.TextAreaFor(x => x.WriterAbout, 10, 3, new { @class = "form-control", @placeholder = "Hakkınızda..." })
                        @*   @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @class = "text-danger" }) *@
                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                    <button class="btn btn-light">İptal</button>
                </div>
            </div>
        </div>
    </div>
</form>
